django-cms
djangocms-admin-style
django-treebeard

djangocms-text-ckeditor
djangocms-link
djangocms-style
# djangocms-googlemap
djangocms-snippet
djangocms-video
#djangocms-column
easy_thumbnails
django-filer
cmsplugin-filer
Django<2
pytz
django-classy-tags
html5lib==0.999999  # djangocms-text-ckeditor 3.6.0 still needed
Pillow
django-sekizai
six
django-registration
django-easy-thumbnails-watermark
gunicorn
git+https://github.com/rayer4u/aldryn-newsblog.git@test2
